@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Custom Global Styles */
html {
  margin: 0;
  top: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #ebeeea; /* Soft mint background */
  color: #254222; /* Dark green text */
  margin: 0;
  padding: 0;
  scroll-behavior:auto;
}

a {
  color: #99cc66; /* Light green for links */
  text-decoration: none;
}

a:hover {
  color: #ece2b1; /* Light beige on hover */
}

/* Primary and Secondary Backgrounds */
.bg-primary {
  background-color: #99cc66;
}

.bg-secondary {
  background-color: #254222;
}

.text-primary {
  color: #99cc66;
}

.text-secondary {
  color: #254222;
}

.text-accent {
  color: #ece2b1;
}

/* Example Button Style */
.btn-primary {
  background-color: #99cc66;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  text-align: center;
}

.btn-primary:hover {
  background-color: #ece2b1; /* Light beige on hover */
}

.btn-secondary {
  background-color: #254222;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  text-align: center;
}

.btn-secondary:hover {
  background-color: #99cc66; /* Light green on hover */
}

/* Hide Scrollbars but Allow Scrolling */
.scroll-container {
  overflow: scroll;
  -ms-overflow-style: none; /* For IE 10+ */
  scrollbar-width: none; /* For Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  
  }
} */
